
/*  Header Styles  (Start) */
header 
{
    background: #81a4d4;    
    height: 80px;
    padding: 40px;
    text-align: left;
    width: 95.255%; /* Weird fix to width problem */
}

header .logo a
{
    background-image: url("Images/site_logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top: -25px;
    width: 150px;
}

body
{
    background-color: #F6F4F6;
    color: #2E3134;
    margin: 0;
}

body header nav ul li
{
    list-style: none;
    position: relative;
}

body header nav ul li a
{
    display: block;    
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;    /*  Text colour for the header text   */
    font-size: 24px;
    padding: 20px 14px;
    text-decoration: none;
}

body header nav ul li ul
{
    display: none;
    position: absolute;
    background-color: #989c97;    /*  Dropdown menu colour  */
    padding: 5px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 4px 8px 0px #81a4d4;
    
}

body header nav ul li:hover ul
{
    display: block;
}

body header nav ul li ul li
{
    width: 270px;   /* Width of dropdown */
    height: 80px;   /* Height of dropdown */
    border-radius: 4px;
    border-bottom: 2px solid black;
}

body header nav ul li ul li a
{
    padding: 20px 7px;
}

/*  Change colour on hover  */
body header nav ul li ul li a:hover
{
    font-weight: 750;   /* Makes dropdown text bold */
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bullet ul
{
    list-style-type: disc;
}

li
{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

nav
{
    width: 100%;
    height: 60%;
}

nav ul
{
    z-index: 1;   /*  To keep the mene in the frontal layer   */
}
/*  Header Styles  (End) */

/*  Footer Styles   */
footer
{
    background: #1D2027;
    color: #E2DED0;
    font-size: 30px;
    padding: 20px, 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.textbox
{
    background-color: #478df7;
    padding: 40px;
    float: left;
    margin: 20px 0 0 10px;
    width: 500px;
    height: 575px;
}

div.textbox2
{
    background-color: #478df7;
    padding: 40px;
    float: right;
    margin: 20px 10px 0 0;
    width: 950px;
    height: 575px;
}

.video
{
    background-color: #798597;
    height: 400px;
}

/*  Form stuff  */

form
{
    padding: 5%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: antiquewhite;
}

input[type=text], input[type=url], input[type=email], input[type=date], input[type=number]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #478df7;
    border-radius: 4px;
    color: blue;
    
}

input[type=text]:focus , input[type=url]:focus, input[type=email]:focus, input[type=date]:focus, input[type=number]:focus
{
    background-color: #e0ecfd;
}

input[type=button], input[type=submit], input[type=reset] 
{
    background-color: #478df7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

select
{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f3aaae;
    color: #FFFFFF;
}

.radiobox
{
    display: block;
    position: relative;
    padding-left: 35px;
    padding: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll
{
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 950px;
    height: 500px;
    overflow: scroll;
}

.scroll2
{
    padding: 5px;
    font: 24px/36px sans-serif;
    overflow: scroll;
}

.slidecontainer
{
    width: 100%;
}

.slider
{
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #397508; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover
{
    opacity: 1;
}